<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Assignments in Course</title>
    <style>
        ul { margin-top: 10px; }
        li { margin: 5px 0; }
    </style>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/center.css}" rel="stylesheet" />
</head>
<body class="parent">
<div class="view">
<a class="go-backward" th:href="@{/grades/enter}">←back</a>

<h2 th:text="'Assignments in ' + ${courseId}">Assignments</h2>

<h3>Existing Assignments</h3>
<ul>
    <li th:each="assignment : ${assignments}">
        <a th:href="@{'/grades/course/' + ${courseId} + '/assignment/' + ${assignment.id} + '/grade'}"
           th:text="${assignment.title + ' - ' + assignment.deadline}">
        </a>
    </li>
</ul>

<div>
    <a th:href="@{'/courses/' + ${courseId} + '/assignments/new'}">
        <button class="button">Create New Assignment</button>
    </a>
</div>

</div>
</body>
</html>
