<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Create Course</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
    <div th:if="${error}">
        <p style="color: red" th:text="${error}"></p>
    </div>
    
<div class="view" th:if="${#authorization.expression('hasAuthority(''ROLE_TEACHER'')')}">
    <h2>Create a New Course</h2>
    <form th:action="@{/courses/create}" method="post">
        <label>Course ID:</label><br/>
        <input type="text" name="courseId" required/><br/><br/>

        <label>Course Title:</label><br/>
        <input type="text" name="title" required/><br/><br/>

        <button type="submit">Create Course</button>
    </form>
</div>
<div th:unless="${#authorization.expression('hasAuthority(''ROLE_TEACHER'')')}">
    <p>You do not have permission to create a course.</p>
</div>
</body>
</html>
