<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
    <title>Homepage</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <link th:href="@{/css/center.css}" rel="stylesheet" />
    </head>
    <body class="parent">
        <div class="view">
            <h2>Welcome, <span th:text="${#authentication.name}"></span>!</h2>

            <div class="spaced" th:if="${#authorization.expression('hasAuthority(''ROLE_TEACHER'')')}">
                <a href="/grades/enter"><button class="button">Enter Grades</button></a>
                <a href="/courses/create"><button class="button">Create Course</button></a>
<!--                <a href="/teacher/assignments/new"><button class="button">Create Assignment</button></a>-->
            </div>
            

            <div class="spaced" th:if="${#authorization.expression('hasAuthority(''ROLE_STUDENT'')')}">
                <a href="/courses/join"><button class="button">Join Course</button></a>
                <form th:action="@{/student/viewmygrades}" method="get">
                    <button type="submit" class="button">View My Grades</button>
                </form>
            </div>
            

            <form th:action="@{/logout}" method="post">
                <input class="button" type="submit" value="Sign Out"/>
            </form>
        </div>
    </body>
</html>

