<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Login </title>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <link th:href="@{/css/center.css}" rel="stylesheet" />
    </head>
    <body class="parent">
        <form th:action="@{/login}" method="post" class="view">
            <a class="go-forward" href="/register">register →</a>
            <div class="error" th:if="${param.error}">
                Invalid username/password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <div><label> Username: <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input class="button" type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>